// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as OsrAPI from './osr';
import { Osr } from './osr';
import * as UsecaseAPI from './usecase';
import { Usecase } from './usecase';

export class Campaign extends APIResource {
  usecase: UsecaseAPI.Usecase = new UsecaseAPI.Usecase(this._client);
  osr: OsrAPI.Osr = new OsrAPI.Osr(this._client);
}

export interface CampaignSharingStatus {
  downstreamCnpId?: string;

  sharedDate?: string;

  sharingStatus?: string;

  statusDate?: string;

  upstreamCnpId?: string;
}

/**
 * Campaign is generated by the 10DLC registry once the corresponding campaign
 * request is approved. Each campaign is assigned a unique identifier -
 * **campaignId**. Once a campaign is activated, limited information is published
 * to the NetNumber OSR service for consumption by members of the ecosystem. When a
 * campaign is suspended(reversible) or expired(non-reversible), campaign data is
 * deleted from the OSR service. Most attributes of campaignare immutable,
 * including **usecase**, **vertical**, **brandId** and **cspId**.
 */
export interface TelnyxCampaignCsp {
  /**
   * Unique identifier assigned to the brand.
   */
  brandId: string;

  /**
   * Unique identifier for a campaign.
   */
  campaignId: string;

  /**
   * Alphanumeric identifier of the CSP associated with this campaign.
   */
  cspId: string;

  /**
   * Summary description of this campaign.
   */
  description: string;

  /**
   * Campaign created from mock brand. Mocked campaign cannot be shared with an
   * upstream CNP.
   */
  mock: boolean;

  /**
   * Campaign sub-usecases. Must be of defined valid sub-usecase types. Use
   * `/registry/enum/usecase` operation to retrieve list of valid sub-usecases
   */
  subUsecases: Array<string>;

  /**
   * Is terms & conditions accepted?
   */
  termsAndConditions: boolean;

  /**
   * Campaign usecase. Must be of defined valid types. Use `/registry/enum/usecase`
   * operation to retrieve usecases available for given brand.
   */
  usecase: string;

  /**
   * Age gated content in campaign.
   */
  ageGated?: boolean;

  /**
   * Campaign subscription auto-renewal status.
   */
  autoRenewal?: boolean;

  /**
   * Campaign recent billed date.
   */
  billedDate?: string;

  /**
   * Display or marketing name of the brand.
   */
  brandDisplayName?: string;

  /**
   * Campaign status
   */
  campaignStatus?:
    | 'TCR_PENDING'
    | 'TCR_SUSPENDED'
    | 'TCR_EXPIRED'
    | 'TCR_ACCEPTED'
    | 'TCR_FAILED'
    | 'TELNYX_ACCEPTED'
    | 'TELNYX_FAILED'
    | 'MNO_PENDING'
    | 'MNO_ACCEPTED'
    | 'MNO_REJECTED'
    | 'MNO_PROVISIONED'
    | 'MNO_PROVISIONING_FAILED';

  /**
   * Unix timestamp when campaign was created.
   */
  createDate?: string;

  directLending?: boolean;

  /**
   * Does message generated by the campaign include URL link in SMS?
   */
  embeddedLink?: boolean;

  /**
   * Sample of an embedded link that will be sent to subscribers.
   */
  embeddedLinkSample?: string;

  /**
   * Does message generated by the campaign include phone number in SMS?
   */
  embeddedPhone?: boolean;

  /**
   * Failure reasons if campaign submission failed
   */
  failureReasons?: string;

  /**
   * Subscriber help keywords. Multiple keywords are comma separated without space.
   */
  helpKeywords?: string;

  /**
   * Help message of the campaign.
   */
  helpMessage?: string;

  /**
   * Indicates whether the campaign has a T-Mobile number pool ID associated with it.
   */
  isTMobileNumberPoolingEnabled?: boolean;

  /**
   * Indicates whether the campaign is registered with T-Mobile.
   */
  isTMobileRegistered?: boolean;

  /**
   * Indicates whether the campaign is suspended with T-Mobile.
   */
  isTMobileSuspended?: boolean;

  /**
   * Message flow description.
   */
  messageFlow?: string;

  /**
   * When the campaign would be due for its next renew/bill date.
   */
  nextRenewalOrExpirationDate?: string;

  /**
   * Does campaign utilize pool of phone numbers?
   */
  numberPool?: boolean;

  /**
   * Subscriber opt-in keywords. Multiple keywords are comma separated without space.
   */
  optinKeywords?: string;

  /**
   * Subscriber opt-in message.
   */
  optinMessage?: string;

  /**
   * Subscriber opt-out keywords. Multiple keywords are comma separated without
   * space.
   */
  optoutKeywords?: string;

  /**
   * Subscriber opt-out message.
   */
  optoutMessage?: string;

  /**
   * Link to the campaign's privacy policy.
   */
  privacyPolicyLink?: string;

  /**
   * Caller supplied campaign reference ID. If supplied, the value must be unique
   * across all submitted campaigns. Can be used to prevent duplicate campaign
   * registrations.
   */
  referenceId?: string;

  /**
   * Alphanumeric identifier of the reseller that you want to associate with this
   * campaign.
   */
  resellerId?: string;

  /**
   * Message sample. Some campaign tiers require 1 or more message samples.
   */
  sample1?: string;

  /**
   * Message sample. Some campaign tiers require 2 or more message samples.
   */
  sample2?: string;

  /**
   * Message sample. Some campaign tiers require 3 or more message samples.
   */
  sample3?: string;

  /**
   * Message sample. Some campaign tiers require 4 or more message samples.
   */
  sample4?: string;

  /**
   * Message sample. Some campaign tiers require 5 or more message samples.
   */
  sample5?: string;

  /**
   * Current campaign status. Possible values: ACTIVE, EXPIRED. A newly created
   * campaign defaults to ACTIVE status.
   */
  status?: string;

  /**
   * Campaign submission status
   */
  submissionStatus?: 'CREATED' | 'FAILED' | 'PENDING';

  /**
   * Does campaign responds to help keyword(s)?
   */
  subscriberHelp?: boolean;

  /**
   * Does campaign require subscriber to opt-in before SMS is sent to subscriber?
   */
  subscriberOptin?: boolean;

  /**
   * Does campaign support subscriber opt-out keyword(s)?
   */
  subscriberOptout?: boolean;

  /**
   * Unique identifier assigned to the brand by the registry.
   */
  tcrBrandId?: string;

  /**
   * Unique identifier assigned to the campaign by the registry.
   */
  tcrCampaignId?: string;

  /**
   * Link to the campaign's terms and conditions.
   */
  termsAndConditionsLink?: string;

  /**
   * @deprecated Business/industry segment of this campaign (Deprecated). Must be of
   * defined valid types. Use `/registry/enum/vertical` operation to retrieve
   * verticals available for given brand, vertical combination.
   *
   * This field is deprecated.
   */
  vertical?: string;

  /**
   * Failover webhook to which campaign status updates are sent.
   */
  webhookFailoverURL?: string;

  /**
   * Webhook to which campaign status updates are sent.
   */
  webhookURL?: string;
}

Campaign.Usecase = Usecase;
Campaign.Osr = Osr;

export declare namespace Campaign {
  export { type CampaignSharingStatus as CampaignSharingStatus, type TelnyxCampaignCsp as TelnyxCampaignCsp };

  export { Usecase as Usecase };

  export { Osr as Osr };
}
