// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as CampaignAPI from '../campaign/campaign';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class PartnerCampaign extends APIResource {
  /**
   * Get all partner campaigns you have shared to Telnyx in a paginated fashion
   *
   * This endpoint is currently limited to only returning shared campaigns that
   * Telnyx has accepted. In other words, shared but pending campaigns are currently
   * omitted from the response from this endpoint.
   *
   * @example
   * ```ts
   * const response =
   *   await client.number10dlc.partnerCampaign.getSharedByMe();
   * ```
   */
  getSharedByMe(
    query: PartnerCampaignGetSharedByMeParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<PartnerCampaignGetSharedByMeResponse> {
    return this._client.get('/10dlc/partnerCampaign/sharedByMe', { query, ...options });
  }

  /**
   * Get Sharing Status
   *
   * @example
   * ```ts
   * const response =
   *   await client.number10dlc.partnerCampaign.getSharingStatus(
   *     'campaignId',
   *   );
   * ```
   */
  getSharingStatus(
    campaignID: string,
    options?: RequestOptions,
  ): APIPromise<PartnerCampaignGetSharingStatusResponse> {
    return this._client.get(path`/10dlc/partnerCampaign/${campaignID}/sharing`, options);
  }
}

export interface PartnerCampaignGetSharedByMeResponse {
  page?: number;

  records?: Array<PartnerCampaignGetSharedByMeResponse.Record>;

  totalRecords?: number;
}

export namespace PartnerCampaignGetSharedByMeResponse {
  /**
   * Campaign is generated by the 10DLC registry once the corresponding campaign
   * request is approved. Each campaign is assigned a unique identifier -
   * **campaignId**. Once a campaign is activated, limited information is published
   * to the NetNumber OSR service for consumption by members of the ecosystem. When a
   * campaign is suspended(reversible) or expired(non-reversible), campaign data is
   * deleted from the OSR service. Most attributes of campaignare immutable,
   * including **usecase**, **vertical**, **brandId** and **cspId**.
   */
  export interface Record {
    /**
     * Alphanumeric identifier of the brand associated with this campaign.
     */
    brandId: string;

    /**
     * Alphanumeric identifier assigned by the registry for a campaign. This identifier
     * is required by the NetNumber OSR SMS enabling process of 10DLC.
     */
    campaignId: string;

    /**
     * Campaign usecase. Must be of defined valid types. Use `/registry/enum/usecase`
     * operation to retrieve usecases available for given brand.
     */
    usecase: string;

    /**
     * Unix timestamp when campaign was created.
     */
    createDate?: string;

    /**
     * Current campaign status. Possible values: ACTIVE, EXPIRED. A newly created
     * campaign defaults to ACTIVE status.
     */
    status?: string;
  }
}

export type PartnerCampaignGetSharingStatusResponse = { [key: string]: CampaignAPI.CampaignSharingStatus };

export interface PartnerCampaignGetSharedByMeParams {
  /**
   * The 1-indexed page number to get. The default value is `1`.
   */
  page?: number;

  /**
   * The amount of records per page, limited to between 1 and 500 inclusive. The
   * default value is `10`.
   */
  recordsPerPage?: number;
}

export declare namespace PartnerCampaign {
  export {
    type PartnerCampaignGetSharedByMeResponse as PartnerCampaignGetSharedByMeResponse,
    type PartnerCampaignGetSharingStatusResponse as PartnerCampaignGetSharingStatusResponse,
    type PartnerCampaignGetSharedByMeParams as PartnerCampaignGetSharedByMeParams,
  };
}
