# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest
    env:
      TELNYX_MOCK_VERSION: 0.8.15
      TELNYX_MOCK_OPEN_API_URI: https://raw.githubusercontent.com/team-telnyx/openapi/master/openapi/spec3.json
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: setup-telnyx-mock
      run: source ./.github/scripts/before_install.sh
    - run: npm ci
    - run: npm run build --if-present
    - name: Node ${{ matrix.node-version }}
      run: npm test
    - name: Report
      run: npm run report
    # - name: Coveralls Parallel
    #   uses: coverallsapp/github-action@master
    #   with:
    #     github-token: ${{ secrets.github_token }}
    #     flag-name: run-${{ matrix.node-version }}
    #     parallel: true
  # finish:
  #   needs: test
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Coveralls Finished
  #     uses: coverallsapp/github-action@master
  #     with:
  #       github-token: ${{ secrets.github_token }}
  #       parallel-finished: true